<nav class="navbar navbar-inverse">
    <a class="navbar-brand users" href="#">Пользователи</a>
    <a class="navbar-brand logs" href="#">Логи</a>
    <a class="navbar-brand cohort" href="#">Когорта</a>
    <a class="navbar-brand ref" href="#">Рефы</a>
    <a class="navbar-brand antiflood" href="#">Антифлуд</a>
</nav>
