<a href="javascript:" data-tab="tab-games" class="tabs__item active">Список игр</a>
<a href="javascript:" data-tab="tab-top-friends" class="tabs__item">Рейтинг друзей</a>
<a href="javascript:" data-tab="tab-top-all" class="tabs__item">Общий рейтинг</a>
