<div class="chat">
    <div class="title">Чат</div>
    <div class="chat-body"></div>
    <div class="chat-send-message">
        <input type="text" class="chat-text" maxlength="200"/>
        <a href="javascript:;" class="btn-yellow send-message"></a>
    </div>
</div>

