<div class="lobby-wrapper">
    <input type="hidden" id="ref" value="<%= ref.gameId %>">

    <div class="lobby-wrapper__actions">
        <div class="tabs"></div>

        <div class="lobby">
            <div class="lobby__tab tab-games">
                <div class="tab-games__tables"></div>
            </div>

            <div class="lobby__tab tab-top-friends"></div>
            <div class="lobby__tab tab-top-all"></div>
        </div>
    </div>

    <div class="lobby-wrapper__chat"></div>
</div>
