<div class="bonus-popup">
    <div class="bonus-popup__title">Поздравляем</div>
    <div class="bonus-popup__title2">вы выиграли</div>
    <div class="bonus-popup__bonus-count"></div>
    <div class="bonus-popup__description">Заходите каждый день и получайте до 200 монет бесплатно!</div>
    <div class="bonus-popup__buttons-wrap">
        <a href="#" class="btn-yellow bonus-popup__get">Забрать</a>
    </div>
</div>
