<div class="help-popup">
    <div class="help-popup__slider">
        <div class="help-slider">
            <div class="help-slider__slide help-slider__slide_active">
                <h2 class="help-slider__title">Правила игры</h2>

                <p>Кватраполи. Четыре в ряд - игра для двоих, в которой игровое поле ограничено размерами 7 на 7 ячеек.
                    Игроки ходят по очереди двумя фигурами (крестиком либо ноликом) в свободные ячейки, которые выделены
                    <img src="../../images/help1.png" class="help-slider__img help-slider__img_right" width="200"/>
                    красным цветом (иными словами, ход можно совершить только на нижнем ряду или на другом ряду над
                    другой фигурой будь то крестик или нолик). </p>

                <p>Цель игры — расположить раньше противника подряд по
                    <img src="../../images/help2.png" class="help-slider__img help-slider__img_left" width="150"/>
                    горизонтали, вертикали или диагонали свои четыре фигуры (крестик либо нолик). Если в игре
                    заканчиваются свободные ячейки, считается что игра сыграна вничью.</p>
            </div>
            <div class="help-slider__slide">
                <h2 class="help-slider__title"><span class="icon-coin"></span>Зачем нужны монеты в игре?</h2>

                <p>Монеты в игре необходимы чтобы делать ставку в начале игры. Победивший игрок,
                    забирает весь банк игры (свою ставку + ставку соперника).
                    Минимальная ставка в игре составляет 25 монет.</p>
            </div>
            <div class="help-slider__slide">
                <h2 class="help-slider__title">С кем можно играть?</h2>

                <p>Вы можете играть как с соперниками со всего мира, так и вызвать своего друга на
                    дуэль. Для того чтобы сыграть со случайным соперником существует два варианта - первый, вы можете
                    создать игру, после чего вы попадете в игру и будете ожидать подключение соперника, второй вы можете
                    выбрать уже существующую игру из списка игр. Для того чтобы сыграть с другом, необходимо нажать на
                    кнопку играть с другом, после чего вам будет представлена возможность выбрать друга, с которым вы бы
                    хотели сыграть. После отправки уведомления, как только ваш друг его получит, он попадет сразу к вам
                    в игру.</p>
                <img src="../../images/help3.png" class="help-slider__img" width="400"/>
            </div>
            <div class="help-slider__slide">
                <h2 class="help-slider__title">Удачи!</h2>

                <p>Да победит сильнейший!</p><br/><br/>
                <img src="../../images/help4.svg" class="help-slider__img">
            </div>
        </div>
    </div>

    <div class="help-popup__nav">
        <div class="help-nav">
            <a href="#" class="btn help-nav__prev">Назад</a>
            <a href="#" class="btn help-nav__next">Далее</a>
            <a href="#" class="btn help-nav__close">Закрыть</a>
        </div>
    </div>
</div>
